# Ignore node_modules directory
node_modules/

# Ignore .env files containing sensitive information
.env

# Ignore build artifacts
build/
dist/

# Ignore logs
*.log

# Ignore .DS_Store files on macOS
.DS_Store
